html{
   line-height: 1.15;
}

body{
     font-family: 'Montserrat', sans-serif;
     
}
.brand{
     font-size: 30px;
}
.navbar{
     background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
}

.nav-link{
      font-size: 16px;
  letter-spacing: 1px;
  color: #eee;
  transition: color .5s;
}
.nav-link:hover {
  color: blue;
}

.landing-page{
    
    height: 100vh;
  /* using (linear-gradient) to darken the image so the text is a little brighter */
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .3)), url(/asstes/img/Bg/—Pngtree—united\ states\ national\ flag\ splash_4400039.png) no-repeat center center /cover;
}

.banner{
     position: absolute;
     top: 57%;
     left: 57%;
      /* postion are defined from top & left (transform) moves elements according to its current postion helping to perfectly center the element */
  transform: translate(-50%, -50%);
  /* because of the element has a postion: absolute manually define the width */
  width: 80%;
}


.banner-heading {
  animation-name: anim;
  animation-duration: 2s;
}


.banner-paragraph {
    font-size: 3rem;
    font-family: 'Montserrat:800', sans-serif; 
  animation-name: anim;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: backwards;
}
.banner-paragraph-2{
     font-size: 1.2rem; 
  animation-name: anim;
  animation-duration:2s;
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}
/* The @keyframes rule specifies the animation code. The animation is created by gradually changing from one set of CSS styles to another. During the animation, you can change the set of CSS styles many times. */
@keyframes anim {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.Mission{
    
     background: rgb(167, 16, 16);
}

.Candidates{
     
     background: blue;
}

.candidates-img{
  display: none;
  
}
.Candidates-link:hover + .candidates-img{
  display: block;
  
}
.Democrats{
     background:rgb(167, 143, 8) ;
}
.Republicans{
     background:rgb(2, 212, 55) ;
}
.Registration{
      background:red ;
}
.Booth-Locator{
     background: white;
}
.Past-Presidents{
     
     background: blue;
}

.Candidates-link{
     color: #eee;
  font-size: 15px;
  transition: all 0.3s; 
}

.Candidates-link:hover {
    color: #70aed2;
  text-decoration: none; 
}

.footer-link {
  color: #eee;
  font-size: 13px;
  transition: all 0.3s;
}
.footer-link:hover {
  color: #70aed2;
  text-decoration: none;
}
